* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
}
/* start header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 998;
  box-shadow: 2px 0 1px 2px rgb(0 0 0 / 20%);
  display: flex;
}

.ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.aa {
  list-style-type: none;
}

#ima {
  width: 40%;
  border-radius: 81px;
  margin-top: 11px;
  margin-bottom: 14px;
  margin-left: 49px;
}
.aa:hover {
  color: #26c6da;

  text-decoration: underline;
}

a:hover {
  color: #26c6da;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}
#a1 {
  color: #26c6da;
}
.aa1 {
  margin-left: -35px;
}

.main-menu {
  width: 200%;
  color: black;
  padding: 28px 121px;
  font-size: 15px;
  font-weight: 700;
  margin-left: 402px;
}
.main-menu a {
  font-size: larger;
  color: black;
}
/* end header */

/* start sec_1 */
#sec_1 {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}
#part1 {
  width: 40%;
  margin-left: 40px;
  margin-top: 40px;
}
#part2 {
  width: 50%;
  margin-top: 184px;
}
.des {
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  color: #142a587d;
}

.bas {
  font-weight: 900;
  font-size: 50px;
  line-height: 38px;
  margin-bottom: 25px;
  color: #142a58;
}
#part2 .btn {
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #26c6da;
  background-color: #26c6da;
  color: #fff;
  border-radius: 33px;
  padding: 20px;
  margin-top: 40px;
  list-style-type: none;
}
/* end sec_1 */

/* footer */
.text-center {
  background: linear-gradient(
    267.27deg,
    #28f3db -3.2%,
    #4cdac9 18.12%,
    #4cc7d3 39.23%,
    #46aedd 65.92%,
    #4499e4 85.83%
  );
}
.my-5 {
  margin-bottom: 0rem !important;
  margin-top: 3rem !important;
  max-width: 100%;
}
