* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
}
/* start header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 998;
  box-shadow: 2px 0 1px 2px rgb(0 0 0 / 20%);
  display: flex;
}

.ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.aa {
  list-style-type: none;
}

#ima {
  width: 40%;
  border-radius: 81px;
  margin-top: 11px;
  margin-bottom: 14px;
  margin-left: 49px;
}
.aa:hover {
  color: #26c6da;

  text-decoration: underline;
}

a:hover {
  color: #26c6da;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}
#a1 {
  color: #26c6da;
}
.aa1 {
  margin-left: -35px;
}

.main-menu {
  width: 200%;
  color: black;
  padding: 28px 121px;
  font-size: 15px;
  font-weight: 700;
  margin-left: 402px;
}
.main-menu a {
  font-size: larger;
  color: black;
}
/* end header */

/* start sec_model */

#sec1 {
  background-image: url(../assets/images/249474656_6569065573136124_3243677549379129472_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  background-size: cover;
}
.sec1_info {
  display: flex;
}

.sec1_info2 {
  margin-left: auto;
}
.sec1_info1 {
  margin-left: 31%;
  margin-top: 11%;
}
#Text {
  color: white;
  text-align: center;
}
.sec1_info1 h1 {
  font-weight: 900;
}
.des1 {
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}
.btn1 {
  font-weight: bold;
  font-size: 19px;
  line-height: 59px;
  background-color: white;
  color: #26c6da;
  text-align: center;
  margin-left: 199px;
  border-radius: 33px;
  margin-top: 75px;
  width: 36%;
}
.btn1:hover,
.btn1:active {
  background-color: #26c6da;
  color: white;
}

/* end sec_model */

/* footer */
.text-center {
  background: linear-gradient(
    267.27deg,
    #28f3db -3.2%,
    #4cdac9 18.12%,
    #4cc7d3 39.23%,
    #46aedd 65.92%,
    #4499e4 85.83%
  );
}
.my-5 {
  margin-bottom: 0rem !important;
  margin-top: 3rem !important;
  max-width: 100%;
}
