* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 998;
  box-shadow: 2px 0 1px 2px rgb(0 0 0 / 20%);
}
.header1 {
  color: #01213a;
  position: relative;
  z-index: 999;
}
.headerinfo {
  margin-left: 61px;
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  margin-right: 30px;
}
svg {
  margin-right: 27px;
  margin-top: 13px;
}

.list {
  display: flex;
  align-items: center;
}
.icons {
  margin-right: 70px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
.social img {
  width: 20%;
  background-color: gray;
  border-radius: 35px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper ul {
  display: flex;
  /* text-align: center; */
  align-items: center;
  list-style-type: none;
}
.aa:hover {
  color: #26c6da;

  text-decoration: underline;
}
.s {
  margin-left: 131px;
}
a:hover {
  color: #26c6da;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}

.main-menu {
  width: 200%;
  color: black;
  display: block;
  padding: 26px 16px;
  font-size: 15px;
  font-weight: 700;
}
.main-menu a {
  margin-left: 22px;
  font-size: larger;
  color: black;
}
.sec1 {
  background: linear-gradient(
    267.27deg,
    #28f3db -3.2%,
    #4cdac9 18.12%,
    #4cc7d3 39.23%,
    #46aedd 65.92%,
    #4499e4 85.83%
  );
}
.sec1_info {
  display: flex;
}
#v {
  height: auto;
  max-width: 70%;
  margin-left: 20px;
}
.sec1_info2 {
  margin-left: auto;
}
.sec1_info1 {
  margin-left: 36px;
  margin-top: 5%;
}
#Text {
  color: white;
}
.sec1_info1 h1 {
  font-weight: 900;
}
.sec1_info1 p {
  font-weight: 700;
  font-size: 30px;
}
.btn1 {
  font-weight: bold;
  font-size: 19px;
  line-height: 59px;

  background-color: white;
  width: 50%;
  color: #26c6da;

  border-radius: 33px;
}
.btn1:hover,
.btn1:active {
  background-color: #26c6da;
  color: white;
}
.sec2_1 {
  display: flex;
  align-items: center;
}
.step {
  width: 20%;
  margin-left: 10%;
  margin-top: 100px;
}
.step img {
  width: 70px;
  height: 70px;
  margin-bottom: 7px;
  margin-left: 28%;
}
.step h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 18px;
  margin-left: 22%;
  color: #142a58;
}
.step p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #62829a;
}
.imgs {
  margin-top: 30px;
  width: 50%;
  margin-left: 22px;
}
.imgs .imgss {
  float: left;
  width: 48%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 22px;
}
.imgs .imgss:nth-child(1),
.imgs .imgss:nth-child(3) {
  margin-top: -50px;
}
.imgs .imgss:nth-child(2),
.imgs .imgss:nth-child(4) {
  margin-left: 22px;
}
.bas {
  font-weight: 900;
  font-size: 50px;
  line-height: 38px;
  margin-bottom: 25px;
  color: #142a58;
}
.des {
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  color: #142a58;
}
.des1 {
  color: #62829a;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
button {
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #26c6da;
  background-color: #26c6da;
  color: #fff;
  border-radius: 33px;
  padding: 20px;
  transition: all 0.25s ease;
  margin-top: 30px;
}
/* sec our doctor  */
#sec_4 {
  margin-top: 30px;
  padding: 10px;
}
.sec_4_1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#im {
  width: 100%;
  height: 350px;
  margin-top: 21px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
}
.discretion2 {
  margin-left: 25px;
  margin-top: 75px;
}
.Sty {
  font-weight: 900;
  font-size: 37px;
  line-height: 38px;
  margin-bottom: 25px;
  color: #142a58;
}
.Sty1 {
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  margin-bottom: 22px;
  color: #142a58;
  margin-bottom: 7px;
}
.Sty2 {
  color: #142a58;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 24px;
}
.Sty3 {
  color: #62829a;
  font-size: 18px;
  line-height: 19px;
  font-weight: 500;
}
/* sec Treatment */
.section-about__info2 {
  margin-left: 80px;
}
.images {
  float: left;
  width: 47%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 22px;
}
.imgs .images:nth-child(1),
.imgs .images:nth-child(3) {
  margin-top: -50px;
}
.imgs .images:nth-child(2),
.imgs .images:nth-child(4) {
  margin-left: 22px;
}
.img {
  width: -webkit-fill-available;
}
